{% extends 'base.html' %}
{% block title %}
Index Page
{% endblock %}
{% block content %}

<body>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <h1>Welcome to the Ticket Management Suite</h1>
      </div>
    </section>

  </main><!-- End #main -->
</body>
{% endblock %}